{{set . "title" "Website - Blog Post"}}
{{template "header.html" .}}
{{template "navbar.html" .userName}}

{{ if .posts }}
{{ range .posts }}
{{ template "post.html" .}}
{{ end }}
{{ else }}

<div class="container" style="margin-top: 40px">
    <div class="row">
        <form class="col-xs-12">
						<h1 class="well well-lg text-center">There's nothing here</h1>
				</form>
    </div>
    <div class="row">
				<form class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
						        <h3 class="text-center" role="alert">Add tags that interest you</h3>
                </div>
                <div class="panel-body">
                    <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at dignissim quam, vitae rhoncus elit. Suspendisse vulputate tempus egestas. Mauris quis euismod odio. Praesent tempor consectetur justo eget laoreet. Proin in nisi gravida, lacinia nulla et, convallis magna. Donec quis dui interdum, ultricies lectus at, fermentum nibh. Etiam rhoncus purus et nulla hendrerit, at hendrerit lorem porttitor. Sed non consectetur orci, et commodo mi. Cras tempus eros ac lacus accumsan dapibus. Suspendisse imperdiet, odio commodo viverra iaculis, arcu magna mollis tortor, vel rutrum turpis enim sed dui. Proin convallis tortor metus, eget ultricies ligula eleifend ac. Nam consequat scelerisque velit placerat consequat.</p>
                </div>
            </div>
				</form>
				<form class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
						        <h3 class="text-center" role="alert"> Find people to follow</h3>
                </div>
                <div class="panel-body">
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at dignissim quam, vitae rhoncus elit. Suspendisse vulputate tempus egestas. Mauris quis euismod odio. Praesent tempor consectetur justo eget laoreet. Proin in nisi gravida, lacinia nulla et, convallis magna. Donec quis dui interdum, ultricies lectus at, fermentum nibh. Etiam rhoncus purus et nulla hendrerit, at hendrerit lorem porttitor. Sed non consectetur orci, et commodo mi. Cras tempus eros ac lacus accumsan dapibus. Suspendisse imperdiet, odio commodo viverra iaculis, arcu magna mollis tortor, vel rutrum turpis enim sed dui. Proin convallis tortor metus, eget ultricies ligula eleifend ac. Nam consequat scelerisque velit placerat consequat.</p>
                </div>
            </div>
				</form>
    </div>
</div>

{{ end }}


{{template "footer.html" .}}
