{{set . "title" .post.Title}}
{{template "header.html" .}}
{{template "navbar.html" .userName}}

{{ template "post-detailed.html" .post}}
<div class="container">
    {{ range .comments }}
    {{ template "comment.html" .}}
    {{ end }}
</div>

{{ if .commentId }}
<script>
    $("#content-markdown-{{.commentId}}").closest("div").effect("highlight", {}, 10000);

    $("#content-markdown-{{.commentId}}").animatedScroll(
        {
            easing: 'easeOutExpo'
        }
    );
</script>
{{ end }}

{{template "footer.html" .}}
