<div class="row">
    <div class="col-xs-1">
        <div class="thumbnail">
            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
    </div><!-- /col-sm-1 -->

    <div class="col-xs-11">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{.Author}}</strong> <span class="text-muted">commented on {{.Date}}</span>
            </div>
            <div class="panel-body" id="content-markdown-{{.Id}}"> </div><!-- /panel-body -->
            <script>
             var converter = new showdown.Converter(),
                 html      = converter.makeHtml({{ .Content }});

             html = jQuery.truncate(html, {
                 length: 600,
                 ellipsis: ' ...<hr><a class="alert alert-info pull-left" href="/comment/{{ .Id }}">See full comment</a>',
                 words: true
             });
             document.getElementById("content-markdown-{{.Id}}").innerHTML = html
            </script>
        </div><!-- /panel panel-default -->
    </div><!-- /col-sm-5 -->
</div><!-- /row -->


<style>
 .thumbnail {
     padding:0px;
 }
 .panel {
	   position:relative;
 }
 .panel>.panel-heading:after,.panel>.panel-heading:before{
	   position:absolute;
	   top:11px;left:-16px;
	   right:100%;
	   width:0;
	   height:0;
	   display:block;
	   content:" ";
	   border-color:transparent;
	   border-style:solid solid outset;
	   pointer-events:none;
 }
 .panel>.panel-heading:after{
	   border-width:7px;
	   border-right-color:#f7f7f7;
	   margin-top:1px;
	   margin-left:2px;
 }
 .panel>.panel-heading:before{
	   border-right-color:#ddd;
	   border-width:8px;
 }
</style>
