
<div class="container">
    <div class="well">
	      <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-12">

		            <!-- Blog Post -->

		            <!-- Title -->
                <h1><a href="/post/{{.Id}}">{{.Title}}</a></h1>

		            <!-- Author -->
		            <p class="lead">
                    by <a href="#">{{.Author}}</a>
		            </p>

		            <!-- Date/Time -->
		            <p><span class="glyphicon glyphicon-time"></span> Posted on {{ .Date }}</p>

		            <!-- Post Content -->
                <div class="panel panel-default">
                    <div class="panel-body">
		                    <p class="lead" id="content-markdown-{{ .Id }}"></p>
                    </div>
                </div>

                <script>
                 showdown.setOption('parseImgDimensions', 'true');
                 var converter = new showdown.Converter(),
                     html      = converter.makeHtml({{ .Content }});

                 html = jQuery.truncate(html, {
                     length: 1000,
                     ellipsis: ' ...<hr><a role="button" class="btn btn-primary pull-left" href="/post/{{ .Id }}">Read more</button>',
                     words: true
                 });

                 document.getElementById("content-markdown-{{ .Id }}").innerHTML = html
                </script>


		            <!-- Blog Comments -->

		            <style>
		             .lead {
                     word-wrap: break-word;
		             }
		            </style>
            </div>
	      </div>
    </div>
</div>
